@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Knotty Creations Paracord Tack</h1>
    <p>See what we offer at Knotty Creations <a href="https://alpacalove5.wixsite.com/website"> click here</a>.</p>

</div>
